:host {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}

.optionArea {
    display: flex;
    flex-direction: row;
}

.otionTitle {
    margin: 2px;
    width: 100px;
}

.optionTitle-disabled {
    color: darkgray;
    background-color: gray;
}

.dropdown {
    width: 500px;
    margin: 0 20px;
}

.slider {
    width: 500px;
    margin: 0 20px;
}
