<!-- <d3d-stage [world]="world">
</d3d-stage> -->

<d3d-stage [world]="world"
           [cameraAngleX]="cameraAngleX"
           [cameraAngleY]="cameraAngleY"
           [cameraAngleZ]="cameraAngleZ"
           [cameraPosX]="cameraPosX"
           [cameraPosY]="cameraPosY"
           [cameraPosZ]="cameraPosZ">
</d3d-stage>
<div class="optionArea">
    <div class="otionTitle">
        World
    </div>
    <select class="dropdown" [(ngModel)]="worldSelector" (ngModelChange)="onDropDownChange($event)">
        <option *ngFor="let worldSelector of worlds" [ngValue]="worldSelector">{{worldSelector.displayName}}</option>
    </select>
    <button class="button" (click)="onResetClick()">Reset</button>
</div>
<div class="optionArea">
    <div class="otionTitle" [ngClass]="{'optionTitle-disabled': world.animateCameraRotationX !== undefined }">
        X-Angle
    </div>
    <input [disabled]="world.animateCameraRotationX !== undefined"
        min="-3.141592653589793" max="3.141592653589793" step="0.06283185307179587"
        type="range" class="slider" [(ngModel)]="cameraAngleX">
</div>
<div class="optionArea">
        <div class="otionTitle" [ngClass]="{'optionTitle-disabled': world.animateCameraRotationY !== undefined }">
        Y-Angle
    </div>
    <input [disabled]="world.animateCameraRotationY !== undefined"
        min="-3.141592653589793" max="3.141592653589793" step="0.06283185307179587"
        type="range" class="slider" [(ngModel)]="cameraAngleY">
</div>
<div class="optionArea">
    <div class="otionTitle" [ngClass]="{'optionTitle-disabled': world.animateCameraRotationZ !== undefined }">
        Z-Angle
    </div>
    <input [disabled]="world.animateCameraRotationZ !== undefined"
        min="-3.141592653589793" max="3.141592653589793" step="0.06283185307179587"
        type="range" class="slider" [(ngModel)]="cameraAngleZ">
</div>
<div class="optionArea">
    <div class="otionTitle" [ngClass]="{'optionTitle-disabled': world.animateCameraPositionX !== undefined }">
        X-Pos
    </div>
    <input [disabled]="world.animateCameraPositionX !== undefined"
        min="-5" max="5" step="0.1"
        type="range" class="slider" [(ngModel)]="cameraPosX">
</div>
<div class="optionArea">
    <div class="otionTitle" [ngClass]="{'optionTitle-disabled': world.animateCameraPositionY !== undefined }">
        Y-Pos
    </div>
    <input [disabled]="world.animateCameraPositionY !== undefined"
        min="-5" max="5" step="0.1"
        type="range" class="slider" [(ngModel)]="cameraPosY">
</div>
<div class="optionArea">
    <div class="otionTitle" [ngClass]="{'optionTitle-disabled': world.animateCameraPositionZ !== undefined }">
        Z-Pos
    </div>
    <input [disabled]="world.animateCameraPositionZ !== undefined"
        min="-20" max="0" step="0.1"
        type="range" class="slider" [(ngModel)]="cameraPosZ">
</div>
